@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.App {
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
}

/* FORM */

.App-form {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* HEADER */

.App-form-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.App-form-header-logo {
  color: rgb(82, 82, 82);
  opacity: 0.5;

  font-size: 3.5em;
  margin-bottom: .7rem;
}

.App-form-header-main {
  color: rgb(82, 82, 82);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-form-header-main h1 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

.App-form-header-main p {
  margin: 0;
}

/* INPUT */

.App-form-input {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;

  border: 1px solid rgb(212, 212, 212);
  border-radius: .5rem;
  height: 3rem;
  top: 1.5rem;
}

.App-form-input input {
  width: 100%;
  height: 100%;
  padding: 0 .75rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.App-form-input:hover {
  border: 1px solid rgb(226, 226, 226);
}

.App-form-input:focus-within {
  border: 1px solid rgb(0, 0, 0);
}

.App-form-input-buttons {
  display: flex;
  gap: .1em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: .25em;
  align-items: center;
  justify-content: center;
}

.App-form-input-buttons-x {
  display: flex;
  
  color: rgb(36, 36, 36);
  opacity: .75;
  background: none;
  border: none;
  font-size: 1rem;
}

.App-form-input-buttons-submit {
  background-color: rgb(234, 88, 12);
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 1rem;
}

.App-form-input-buttons-submit:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.App-form-error {
  color: rgb(234, 88, 12);
  font-size: .875rem;
  margin-top: 1.5rem;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
}

.disable-cursor-outer {
  cursor: not-allowed;
}

.disable-cursor {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
  pointer-events: none;
}

/* NOTIFICATION */

.App-notification {
  position: fixed;
  display: flex;
  flex-direction: row;

  top: 1.5rem;
  left: 1.5rem;
  padding: .5rem;
  border-radius: .5rem;

  gap: .5em;
  align-items: center;
  font-weight: 600;
  color: rgb(93, 93, 93);
  border: 1px solid rgb(205, 205, 205, 0.5);

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.075);

  opacity: 0;
}

.App-notification-icon {
  color: rgb(234, 88, 12);
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .App-form-header {
    align-items: center;
    text-align: center;
  }
}